_import: configs/train_ref_config.yaml

boat:

  path: rhdiffusion.boats.jit_sr3_boat
  name: JiTSR3Boat

  models:
    net:
      path: 'rhdiffusion.nn.model_zoo.jit_sr3.generator'
      name: 'JiTSR3'
      params:
        input_size: $input_size
        patch_size: $patch_size
        scale: 8
        in_channels: $in_channels
        hidden_size: $hidden_size
        depth: $depth

  losses: 
    net:
      path: 'rhopsr.nn.losses.weighted_loss'
      name: 'WeightedLoss'
      params:
        base_loss_fn_str: mse
      wrapper: # This wrapper is more complex needs parameters
        mpath: 'rhopsr.nn.losses.wrappers.list_of_keys.ListOfKeys'
        params:
          keys: ["prediction", "target", "weight"]

  samplers:
    net:
      path: 'rhdiffusion.samplers.flow_matching_solver'
      name: 'FlowMatchingSolver'         # Name of the model class to use
      config: {}

trainer: 
  devices: $devices
  max_epochs: $max_epochs
  val_check_epochs: 1
  state_save_epochs: 1
  fup_by_key: 
    net: true

_vars:

  devices: [0, 1, 6, 7]
  max_epochs: 500

  train_batch_size: 64
  valid_batch_size: 16
  num_workers: 16

  input_size: 256
  patch_size: 16
  in_channels: 3
  hidden_size: 512
  depth: 24

  train_folder_paths:
    gt: data/ffhq/ffhq_imgs/ffhq_256
    cond: data/ffhq/ffhq_imgs/ffhq_32
    
  valid_folder_paths:
    gt: data/celeba/subsets/celeba_256
    cond: data/celeba/subsets/celeba_32

  experiment_name: sr3_jit_ffhq_32_256

  ema_start: 0